{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            Cортировать по: |
            <a href="/catalog?sort=new"> Новизне</a> |
            <a href="/catalog?sort=cheap"> Сначала дешевые </a> |
            <a href="/catalog?sort=expensive"> Сначала дорогие </a> |
        </div>

        <div class="content">
            {# Здесь должен отображаться каталог с телефонами #}
            {% for lin in all_data %}
                <tr class="table-row">{% include "product.html" %}</tr>
            {% endfor %}
        </div>
    </div>
{% endblock %}